<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      th:fragment="layout(title, content)">
<head>
    <meta charset="UTF-8"/>
    <title th:replace="${title}">MyCityGov</title>
</head>
<body>
<header>
    <h1>MyCityGov</h1>

    <nav>

        <!-- Αρχική -->
        <a th:href="@{/}">Αρχική</a>

        <!-- LINKS ΠΟΛΙΤΗ -->
        <span sec:authorize="hasRole('CITIZEN')">
            | <a th:href="@{/requests}">Αιτήματα</a>
            | <a th:href="@{/appointments}">Ραντεβού</a>
        </span>

        <!-- LINKS ΥΠΑΛΛΗΛΟΥ & ADMIN -->
        <span sec:authorize="hasAnyRole('EMPLOYEE','ADMIN')">
            | <a th:href="@{/employee/requests}">Αιτήματα (Υπάλληλος)</a>
        </span>

        <!-- LOGIN / LOGOUT -->
        <span sec:authorize="isAuthenticated()">
            | Συνδεδεμένος ως <b th:text="${#authentication.name}">user</b>
            | <a th:href="@{/logout}">Έξοδος</a>
        </span>

        <span sec:authorize="isAnonymous()">
            | <a th:href="@{/login}">Είσοδος</a>
            | <a th:href="@{/register}">Εγγραφή</a>
        </span>

    </nav>

    <hr/>
</header>

<main>
    <div th:replace="${content}"></div>
</main>

</body>
</html>
