<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{base :: layout(~{::title}, ~{::section})}">

<head>
    <title>MyCityGov – Αρχική</title>
</head>

<body>
<section>
    <h2>Καλωσήρθες στο MyCityGov</h2>
    <p>Μπορείς να υποβάλεις ψηφιακά αιτήματα, να δηλώσεις προβλήματα στην πόλη
        και να κλείσεις ραντεβού με υπηρεσίες του Δήμου.</p>

    <p th:if="${#authentication == null or !#authentication.authenticated}">
        <a th:href="@{/login}">Σύνδεση</a> ή
        <a th:href="@{/register}">Εγγραφή</a>
    </p>
</section>
</body>
</html>
