<!DOCTYPE html>
<html
    xmlns:th="http://www.thymeleaf.org"
    th:replace="~{base :: layout(~{::title}, ~{::section})}">

<head>
    <title>Εγγραφή</title>
</head>

<body>
<section>
    <h1>Εγγραφή Πολίτη</h1>

    <div th:if="${errorMessage}" th:text="${errorMessage}"></div>

    <form th:action="@{/register}" th:object="${createPersonRequest}" method="post">
        <div>
            <label>Email</label>
            <input type="email" th:field="*{emailAddress}"/>
            <div th:if="${#fields.hasErrors('emailAddress')}" th:errors="*{emailAddress}"></div>
        </div>

        <div>
            <label>Όνομα</label>
            <input type="text" th:field="*{firstName}"/>
            <div th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></div>
        </div>

        <div>
            <label>Επώνυμο</label>
            <input type="text" th:field="*{lastName}"/>
            <div th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></div>
        </div>

        <div>
            <label>Κινητό</label>
            <input type="text" th:field="*{mobilePhoneNumber}"/>
            <div th:if="${#fields.hasErrors('mobilePhoneNumber')}" th:errors="*{mobilePhoneNumber}"></div>
        </div>

        <div>
            <label>ΑΦΜ</label>
            <input type="text" th:field="*{afm}"/>
            <div th:if="${#fields.hasErrors('afm')}" th:errors="*{afm}"></div>
        </div>

        <div>
            <label>ΑΜΚΑ</label>
            <input type="text" th:field="*{amka}"/>
            <div th:if="${#fields.hasErrors('amka')}" th:errors="*{amka}"></div>
        </div>

        <div>
            <label>Κωδικός</label>
            <input type="password" th:field="*{rawPassword}"/>
            <div th:if="${#fields.hasErrors('rawPassword')}" th:errors="*{rawPassword}"></div>
        </div>

        <button type="submit">Εγγραφή</button>
    </form>
</section>
</body>
</html>
